<div class="container p-4">
  <div class="row">
    <div class="col-md">
        <div class="card-body d-flex align-items-center justify-content-center animate__animated animate__backInRight">
          <figure class="icon-cards mt-3">
            <div class="icon-cards__content">
              <div class="icon-cards__item d-flex align-items-center justify-content-center">
                <div class="card bg bg-dark text-center p-2">
                  <i class="fab fa-shopify fa-5x"></i>
                  <div class="card-body">
                    <h5 class="card-title">Ventas</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="icon-cards__item d-flex align-items-center justify-content-center">
                <div class="card bg bg-dark text-center p-2">
                  <i class="fas fa-concierge-bell fa-5x"></i>
                  <div class="card-body">
                    <h5 class="card-title">Servicios</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="icon-cards__item d-flex align-items-center justify-content-center">
                <div class="card bg bg-dark text-center p-2">
                  <i class="fas fa-box-open fa-5x"></i>
                  <div class="card-body">
                    <h5 class="card-title">Productos</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <a href="#" class="btn btn-success" disabled="false">Productos Totales {{totalP.totalP}} </a>
                  </div>
                </div>
              </div>
              <div class="icon-cards__item d-flex align-items-center justify-content-center">
                <div class="card bg bg-dark text-center p-2">
                  <i class="fas fa-address-book fa-5x"></i>
                  <div class="card-body">
                    <h5 class="card-title">Empleados</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <a href="#" class="btn btn-primary">Empleados {{total.totalE}} </a>
                  </div>
                </div>
              </div>
              <div class="icon-cards__item d-flex align-items-center justify-content-center">
                <div class="card bg bg-dark text-center p-2">
                  <i class="fas fa-concierge-bell fa-5x"></i>
                  <div class="card-body">
                    <h5 class="card-title">Servicos</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </figure>
        </div>
    </div>
  </div>
</div>